# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environments
venv/
env/
.venv/

# IDE Files
.vscode/
.idea/

# Logs
*.log

# Environment Variables
.env

# Machine Learning Models
*.pkl
*.joblib
*.h5

# Generated Results
confusion_matrices/
model_results.csv

# Operating System Files
.DS_Store
Safety.db
